
<div class="bloc2">
  <div class="image1-bloc2">
      <img id="image_bloc2" src="../../assets/media/prof.png" alt="image_bloc1">
  </div>
  <div class="text-container">
      <h1 class="text1-bloc2">
          ABOUT ME
      </h1>
      <p class="text2-bloc2">
          ABOUT ME
      </p>
      <div class="button1-bloc2">
          <button type="button" class="btn btn-outline-info" routerLink="/contact">Hire me</button>
          <button type="button" class="btn btn-outline-info" (click)="openPDF()">
            Resume
          </button>

      </div>
  </div>
</div>
