<div class="bloc4">
  <div>
  <div class="text1-bloc4">
      PROJECT 1
  </div>
  <h3 class="text2-bloc4">
      FACEBOOK login page
  </h3>
  <div class="text3-bloc4">
      In the first project i cloned the facebook login page
  </div><br>
  <div class="button1-bloc4">
      <button type="button" class="btn btn-outline-info">Read more</button>
      <button type="button" class="btn btn-outline-info">Portfolio Projects</button>
  </div></div>
  <div class="image_bloc4">
  <img id="image_bloc4" src="../../assets/media/image_bloc4.png" alt="image_bloc4">
</div>
</div>
