<div class="text-center8">EXPERIENCES</div>
<div class="bloc8">

    <div class="grid-item-8 text1-bloc8">
        <div><img src="../../assets/media/icone1_8.png" alt="icone1_8"></div>
        <div><h5>HTML</h5></div>
    </div>
    <div class="grid-item-8 text2-bloc8">
        <div><img src="../../assets/media/icone2_8.png" alt="icone1_8"></div>
        <div><h5>CSS</h5></div>
    </div>
    <div class="grid-item-8 text3-bloc8">
        <div><img src="../../assets/media/icone3_8.png" alt="icone1_8"></div>
        <div><h5>ANGULAR</h5></div>
    </div>
    <div class="grid-item-8 text4-bloc8">
        <div><img src="../../assets/media/icone4_8.png" alt="icone1_8"></div>
        <div><h5>PYTHON</h5></div>
    </div>
    <div class="grid-item-8 text5-bloc8">
        <div><img src="../../assets/media/icone5_8.png" alt="icone1_8"></div>
        <div><h5>JAVA-SCRIPT</h5></div>
    </div>
    <div class="grid-item-8 text6-bloc8">
        <div><img id="image68" src="../../assets/media/icone6_8.png" alt="icone1_8"></div>
        <div><h5>SPRING</h5></div>
    </div>
    <div class="grid-item-8 text7-bloc8">
        <div><img id="image78" src="../../assets/media/icone7_8.png" alt="icone1_8"></div>
        <div><h5>BOOSTRAP</h5></div>
    </div>
    <div class="grid-item-8 text8-bloc8">
        <div><img id="image88" src="../../assets/media/icone8_88.png" alt="icone1_8"></div>
        <div><h5>SQL</h5></div>
    </div>
</div>
