<div class="card">
  <div class="card-header smaller-card">
    <h5 class="card-title">PROJECT 1 : FACEBOOK login page</h5>
    <p class="card-text">In the first project i cloned the facebook login page</p>
    <a (click)="goToProject1()" class="btn btn-primary">Go to project</a>
  </div>
</div>
<div class="card">
  <div class="card-header smaller-card">
    <h5 class="card-title">PROJECT 2 : NASA Website</h5>
    <p class="card-text">In the 2nd project i cloned the design of techonors. i chose the nasa and stars as a theme.</p>
    <a (click)="goToProject2()" class="btn btn-primary">Go to project</a>
  </div>
</div>
<div class="card">
  <div class="card-header smaller-card">
    <h5 class="card-title">PROJECT 3 : YOUTUBE clone</h5>
    <p class="card-text">In the 3rd project i cloned the youtube page using the flex layout</p>
    <a (click)="goToProject3()" class="btn btn-primary">Go to project</a>
  </div>
</div>
<div class="card">
  <div class="card-header smaller-card">
    <h5 class="card-title">PROJECT 4 : SHOPPING Website</h5>
    <p class="card-text">In the 4th project i chose the shopping as a theme using CSS Grid</p>
    <a (click)="goToProject4()" class="btn btn-primary">Go to project</a>
  </div>
</div>







