<div class="bloc10">
  <div class="image_bloc10">
  <img id="image_bloc10" src="../../assets/media/image_bloc10.png" alt="image_bloc10">
  </div>
  <div>
  <div class="text1-bloc10">
      PROJECT 4
  </div>
  <h3 class="text2-bloc10">
      SHOPPING Website
  </h3>
  <div class="text3-bloc10">
      In the 4th project i chose the shopping as a theme using CSS Grid
  </div>
  <div class="button1-bloc10">
      <button type="button" class="btn btn-outline-info">Read more</button>
  </div></div>
</div><br>
