<div class="all">
  <div class="parts one"><img id="img1" src="../assets/media/logo.png" alt="logo_nasa">
  </div>
  <div class="parts two">
<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About-me</a></li>
    <li><a routerLink="/portfolio">Portfolio</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/experiences">Experiences</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>
</div>
</div>

<router-outlet></router-outlet>


