<div class="text-center7">SERVICES</div>
<div class="bloc7">
    <div class="grid-item-7 text1-bloc7">
        <div class="bloc7-flex">
        <div><img src="../../assets/media/icone1_7.png" alt="icone1_7"></div>
        <div><h4>Program languages</h4></div>
        </div>
        <div><p>A programming language is a language used to write computer programs, which instruct a computer to perform some kind of computation</p></div>
    </div>
    <div class="grid-item-7 text2-bloc7">
        <div class="bloc7-flex">
            <div><img src="../../assets/media/icone2_7.png" alt="icone1_7"></div>
            <div><h4>Video editing</h4></div>
            </div><br>
            <div><p>the manipulation and arrangement of video shots. Video editing is used to structure and present all video information</p></div>
    </div>
    <div class="grid-item-7 text3-bloc7">
        <div class="bloc7-flex">
            <div><img src="../../assets/media/icone3_7.png" alt="icone1_7"></div>
            <div><h4>Desktop app developpement</h4></div>
            </div><br>
            <div><p>Creating an application locally for computer devices (operating systems) is referred to as desktop application development</p></div>
    </div>
    <div class="grid-item-7 text4-bloc7">
        <div class="bloc7-flex">
            <div><img src="../../assets/media/icone4_7.png" alt="icone1_7"></div>
            <div><h4>Mobile app developpement</h4></div>
            </div><br>
            <div><p> the act or process by which a mobile app is developed for one or more mobile devices</p></div>
    </div>

</div><br>
