<div class="bloc5">
  <div class="image_bloc5">
  <img id="image_bloc5" src="../../assets/media/image_bloc5.png" alt="image_bloc5">
  </div>
  <div>
  <div class="text1-bloc5">
      PROJECT 2
  </div>
  <h3 class="text2-bloc5">
      NASA Website
  </h3>
  <div class="text3-bloc5">
      In the 2nd project i cloned the design of techonors. i chose the nasa and stars as a theme.
  </div><br>
  <div class="button1-bloc5">
      <button type="button" class="btn btn-outline-info">Read more</button>
      <button type="button" class="btn btn-outline-info">Portfolio Projects</button>
  </div></div>
</div><br>
